{{ $author := .Params.author }}

{{/* Handle cases where 'author' in front matter might be a list or a string */}}
{{ if reflect.IsSlice $author }}
  {{ $author = index $author 0 }}
{{ end }}

{{ if $author }}
<div class="author-bio">
  {{ if eq $author "Mr. JH" }}
    <img src="{{ "img/mr-jh.png" | relURL }}" alt="Mr. JH" width="60" height="60">
    <div>
      <strong>Written by Mr. JH</strong>
      <p>I’m the science nerd. I dig through research papers and turn "quantum entanglement" into "here’s why it’s weird".</p>
    </div>
  {{ else if eq $author "Mr Wnow" }}
    <img src="{{ "img/mr-wnow.png" | relURL }}" alt="Mr Wnow" width="60" height="60">
    <div>
      <strong>Written by Mr Wnow</strong>
      <p>I’m the tech guy. Leaks, gadgets, AI, and all the "how does this actually work" stuff.</p>
    </div>
  {{ end }}
</div>
{{ end }}
