{{/* Fetch author from .Params.author or .Params.authors */}}
{{ $author := .Params.author | default .Params.authors }}

{{/* If author is a slice/list (e.g. authors: ["Mr. JH"]), get the first element */}}
{{ if reflect.IsSlice $author }}
  {{ $author = index $author 0 }}
{{ end }}

{{/* Convert to string */}}
{{ $authorStr := printf "%v" $author }}

{{ if $authorStr }}
<div class="author-bio">
  {{ if or (eq $authorStr "Mr. JH") (eq $authorStr "mr. jh") }}
    <img src="{{ "img/mr-jh.png" | relURL }}" alt="Mr. JH" width="60" height="60">
    <div>
      <strong>Written by Mr. JH</strong>
      <p>I’m the science nerd. I dig through research papers and turn "quantum entanglement" into "here’s why it’s weird".</p>
    </div>
  {{ else if or (eq $authorStr "Mr Wnow") (eq $authorStr "mr wnow") }}
    <img src="{{ "img/mr-wnow.png" | relURL }}" alt="Mr Wnow" width="60" height="60">
    <div>
      <strong>Written by Mr Wnow</strong>
      <p>I’m the tech guy. Leaks, gadgets, AI, and all the "how does this actually work" stuff.</p>
    </div>
  {{ end }}
</div>
{{ end }}
